:root{
  --font-family: 'Lato';
  --color-font: #333333;
  --background-menu: #FFFFFF;
  --background-top: #E0E0E0;
}
*{
 margin: 0;
  font-family: var(--font-family);
  color: var(--color-font);
}

/*Desktop*/
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1500px;
  height: 100vh;
} 
.container__top{
  height: 80px;
  width: 100%;
  background-color: var(--background-top);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container__header{
  background-color: var(--background-top);
  width: 74%;
  height: 79px;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
.header__logo{
  display: flex;
  align-items: center;
  width: 70%;
}
.logo__image{
  margin-right: 20px;
}
.logo__title{
  font-size: 14px;
}
.header__nav{
  width: 30%;
  height: 40px;
  display: flex;
  background: var(--background-menu);
}
.nav__close{
  display: none;
}
.nav__collapse{
  display: none;
}
.nav{
  width: 100%;
  display: flex;
}
.nav__menu{
  width: 100%;
  display: flex;
  padding: 0;
  align-items: center;
  text-align: center;
}
.nav__list{
  list-style: none;
  margin-left: 5%;
}
.nav__link{
  width: 100%;
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
}
.nav__space{
  color:  #979797;
}
.section__form{
  width: 74%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.form{
  width: 38%;
  height: 344px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid #979797;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
}
.form__title{
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 20px;
}
form p{
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color:var(--color-font);
}
.form__transaction{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.transaction__select{
  width: 90%;
}
.select__type{
  width: 100%;
  height: 32px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #979797;
  box-sizing: border-box;
  background: var(--background-menu);
}
.form__merchandise{
  width: 90%;
}

.form__value{
  width: 90%;
}
.merchandise__type{
  width: 99%;
  height: 32px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #979797;
}
.form__button{
  width: 100%;
  text-align: center;
}
.button__add{
  width: 90%;
  height: 32px;
  background: var(--color-font);
  border-radius: 4px;
  color: var(--background-menu);
}
.extract{
  width: 60%;
  height: 281px;
}
.extract__title{
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 20px;
}
.extract__table {
  display: grid;
  grid-template-columns: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 45px;
}
.table__header{
  display: grid;
  grid-template-columns: 5% 70% 22%;
  border-bottom: 1px solid #979797;
}
.table__merchandise{
  display: grid;
  grid-template-columns: 5% 70% 22%;
  border-bottom: 1px solid #979797;
}
.table__message{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: var(--background-top);
}
.table__footer{
  display: grid;
  grid-template-columns: 5% 70% 22%;
  border-top: 1px solid #979797;
  margin-top: 3px;
}
.table__result{
  display: grid;
  grid-template-columns: 97%;
  text-align: end;
  margin-top: -20px;
}
.header__value{
  text-align: end;
}

/*tablet landscape*/
@media screen and (max-width:1112px) {
  .container{
   max-width:1112px;
  } 
  .container__header{
    width: 95%;
  }
  .section__form{
    width: 95%;
  }
}

/*tablet portrait*/
@media screen and (max-width:768px) {
  .container{
    max-width: 768px;
    align-items: center;
  } 
  .container__header{
    width:95%;
    justify-content: space-between;
  }
  .header__logo{
    width: 60%;
    justify-content: space-between;
  }
  .header__nav{
    width: 22%;
    align-items: center;
    justify-content: end;
    background: var(--background-top);
    margin-right: 1%;
  }
  .nav__collapse{
    width: 15%;
    display: flex;
    flex-direction: column;
  }
  .nav__collapse > div{
    width: 100%;
    height: 1px;
    right: 21px;
    margin: 3px 0px;
    background:var(--color-font);
  }
  .nav{
    display: none;
    position: fixed;
    width: 33%;
    top: 0;
    right: 0;
    flex-direction: column ;
  }
  .nav__space{
    display: none;
  }
  .nav__menu{
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: right;
    width: 33%;
    height: 100%;
    right: 0;
    top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    background:var(--color-font);
  }
  .nav__list{
    width: 90%;
    text-align: end;
    padding-top: 20px;
  }
  .nav__close{
    display: flex;
    width: 100%;
    height: 18px;
    color: white;
    font-weight: bold;
    justify-content: left;
    cursor: pointer;
  }
  .nav__link{
    color: white ;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }
  .form{
    width: 95%;
    height: 189px;
  }
  .section__form{
    width: 95%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form__transaction{
    flex-direction: row;
  }
  .transaction__select{
    width: 21%;
    margin-right: 2%;
  }
  .select__type{
    height: 36px;
  }
  .form__merchandise{
    width: 48%;
    margin-right: 2%;
  }
  .form__value{
    width: 21%;
  }
  .form__button{
    display: flex;
    width: 95%;
    justify-content: end;
  }
  .button__add{
    width:200px;
  }
  .extract{
    margin-top: 2%;
    width: 95%;
  }
  .textract__table{
    display: grid;
    grid-template-columns: 100%;
    margin: 20px;
  }
}

/*smartphone*/
@media screen and (max-width:562px){
  .container{
    max-width: 562px;
  }
  .header__logo{
    width: 70%;
    justify-content: space-between;
  }
  .nav{
    display: none;
    width: 66%;
  }
  .nav__menu{
    display: none;
    width: 66%;
  }
  .section__form{
    width: 95;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    justify-content: center;
  }
  .form{
    width: 100%;
    height: 344px;
    border: none;
    border-bottom:1px solid #979797; ;
  }
  .form__transaction{
    width: 100%;
    flex-direction: column;
  }
  .transaction__select{
    width: 95%;
  }
  .form__merchandise{
    width: 95%;
    margin-right: 0%;
  }
  .form__value{
    width: 95%;
  }
  .form__button{
    width: 95%;
    justify-content: center; 
  }
  .button__add{
    width: 100%;
  }
  .extract{
    width: 100%;
  }
}

